*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ab1c34;
  color: #fff;
}

.container{
  padding: 20px 15% 20px;
}

h1{
  text-align: center;
}

/* sezione form */


.form{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form .form-input{
  width: 50%;
  padding: 10px;
}

.form-input [type="text"]{
  width: 100%;
  margin-top: 5px;
}

.form-input [type="number"]{
  width: 60px;
}

.form-input input{
  height: 25px;
  line-height: 25px;
}

.form-input label{
  margin-right: 5px;
  font-size: 17px;
}

.form-input option, .form-input select{
  font-size: 15px;
}

#btnCrea{
  padding: 6px;
  margin-top: 20px;
  font-size: 15px;
}

/* sezione biglietto */

.biglietto{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 15px;
  padding: 10px;
}

.biglietto .blocco{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.biglietto .blocco:first-child{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.biglietto .blocco div:first-child{
  width: 30%;
  padding: 10px;
}

.biglietto .blocco div:first-child img{
  width: 70%;
}

.biglietto .blocco div:last-child{
  width: 30%;
}
